.Background__image {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: cover;
    filter: blur(400px);
    animation: zoom-in-zoom-out 60s ease infinite;
}

.Background__content {
    position: fixed;
    top: 20px;
    left: 20px;
    right: 20px;
    z-index: 10;
}

@keyframes zoom-in-zoom-out {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.5, 1.5);
    }
    100% {
      transform: scale(1, 1);
    }
  }