.BluOS__container {
    display: flex;
    background: rgba(0, 0, 0, 0.8);
    padding: 10px;
}

.BluOS__container img {
    width: 300px;
    height: 300px;
}

ul.BluOS__titles {
    list-style: none;
    padding: 30px;
}

ul.BluOS__titles li:first-child {
    font-size: 250%;
    margin-bottom: 10px;
}

ul.BluOS__titles li:nth-child(2) {
    font-size: 250%;
    margin-bottom: 40px;
}

ul.BluOS__titles li:nth-child(3) {
    font-size: 150%;
}
