:root {
    --accent-color: #ff0;
    --over-background-color: #fff;
    --over-background-stroke-color: #000;
}

body {
    background: black;
    color: white;

    font-family: "Teachers", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;  

    padding: 20px;

    user-select: none;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main {
    min-height: calc(100vh - 194px);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

.error {
    color: red;
}