body {
    background: black;
    color: white;

    font-family: "Teachers", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;  

    padding: 20px;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.error {
    color: red;
}